.welcome{
    position: absolute;
    width: 634px;
    height: 155px;
    left: 600px;
    top: 127px;
    width: 634px;
    font-size: 80px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #A13333;
}

.loginbtn{
    position: absolute;
    width: 472px;
    height: 100px;
    left: calc(50% - 472px/2 + 411px);
    top: 700px;

    background: #F5F5F5;
    border-radius: 40px;

    color: #A13333;
    font-size: 60px;

}   

body{
    background-color: #040303;
}