body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column; 
    background-color: #040303;
    background-image: url(../imgs/Homepage_back.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  h1 {
    font-size: 48px;
    margin-top: 16px;
    margin-bottom: 16px;
    color: white;
  }
  
  #perfilTable {
    width: 400px;
    border-collapse: collapse;
    border-radius: 10px; 
    overflow: hidden; 
    color: white;

  }
  
  #perfilTable td {
    padding: 8px;
    border: 1px solid #ccc;
    text-align: center; 

  }
  
  #perfilTable th,
  #perfilTable td {
    border-width: 2px; 
  }
  
  .button-container {
    display: flex;
    gap: 16px; 
    margin-top: 16px;
  }
  
 
  #editar,
  #rank,
  #Homepage{
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 110px; 

  }
  